include layout

form(action='createProduct' method='post')
	label(for='code') Codigo:
	input(type='text', id='code', name='code', required)
	br
	label(for='description') Descripcion:
	input(type='text', id='description', name='description')
	br
	//generacion con radioButtonsDinamicMenu
	h3 Fabrica
	- options=factory; optionsName="factory"; addPlusButton=true;
	include radioButtonsDinamicMenu
	h3 Tipo de prenda
	- options=types; optionsName="type"; addPlusButton=true;
	include radioButtonsDinamicMenu
	input(type='submit' value='Enviar')
