include layout

form(action='createProduct' method='post')
	label(for='code') Codigo:
	input(type='text', id='code', name='code', required)
	br
	label(for='description') Descripcion:
	input(type='text', id='description', name='description')
	br
	//generacion con radioButtonsDinamicMenu
	- options=factory; optionsName="factory"
	include radioButtonsDinamicMenu
	- options=types; optionsName="type"
	include radioButtonsDinamicMenu
	input(type='submit' value='Enviar')
